@import '../../../styles.scss';

article {
    background-color: $second;
    padding: 1em;
    margin: 1em 0em;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    flex: 1;
    font-size: 20px;
    padding: 0.25em;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

.weatherIcon, h2, h1{
    text-align: center;
    flex: 1;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 36px;
}