@import '../../../styles.scss';

form {
    background-color: $second;
    padding: 0.25em;
    margin: 1em 0em;
}

input{
    display: block;
    margin: 0.75em auto;
    text-align: center;
}

input[type=text] {
    padding: 4px 8px;
    font-size: 24px;
    border-radius: 4px;
    border: 0px;
    text-align: center;
    outline: none;
}

input[type=text]:focus {
    -webkit-box-shadow: 0px 0px 3px 1px $background;
    -moz-box-shadow: 0px 0px 3px 1px $background;
    box-shadow: 0px 0px 3px 1px $background;
}

input[type=submit] {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 4px;
    border: 0px;
    background-color: $button;
    transition: 0.5s ease-in-out;
}

input[type=submit]:not(:disabled):hover {
    transform: scale(1.1);
    cursor: pointer;
}

span {
    display: block;
    padding: 0.25em;
    text-align: center;
}

.warning {
    color: $red;
}
